<header>
    <img class="img-logo" src="/img/logo.png" height="90" alt="">
    <div class="link-nav">
        <a href="/" >HOME</a>
        <a href="/about">O...</a>
        <a href="/tours/hood-river">Hood River</a>
        <a href="/tours/oregon-coast">Oregon Coast</a>
        <a href="/jquery-test">jQuery Test Page</a>
        <a href="/nursery-rhyme">Nursery Rhyme</a>
    </div>
</header>