<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Meadowlark Travel</title>
  </head>
  <body>
    <header>
      <img src="/img/logo.jpg" width="50" alt="">
    </header>
    {{{body}}}
  </body>
</html>
